USE [master]
GO
/****** Object:  Database [QLVT]    Script Date: 3/25/2025 2:15:16 AM ******/
CREATE DATABASE [QLVT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLVT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLVT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLVT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVT]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LamTronTien]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LamTronTien] (@Gia DECIMAL(18,2), @SoLamTron INT = 2)
RETURNS DECIMAL(18,2)
AS
BEGIN
    RETURN ROUND(@Gia, @SoLamTron)
END;
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NULL,
	[MaTK] [int] NULL,
	[TenBang] [nvarchar](50) NOT NULL,
	[MaBanGhi] [int] NOT NULL,
	[HanhDong] [nvarchar](20) NULL,
	[GiaTriCu] [nvarchar](max) NULL,
	[GiaTriMoi] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonNhap]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonNhap](
	[MaCTDN] [int] IDENTITY(1,1) NOT NULL,
	[MaDonNhap] [int] NOT NULL,
	[MaVatLieu] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [int] NOT NULL,
	[MaVatLieu] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaKho] [int] IDENTITY(1,1) NOT NULL,
	[TenKho] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[NguoiTao] [nvarchar](256) NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLDonNhap]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLDonNhap](
	[MaDonNhap] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [int] NOT NULL,
	[MaTK] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLHoaDon]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLHoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NULL,
	[MaTKLap] [int] NOT NULL,
	[MaKhachHang] [int] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLKH]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLKH](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLLoaiVatLieu]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLLoaiVatLieu](
	[MaLoaiVatLieu] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiVatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLTK]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLTK](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[SDT] [nvarchar](15) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLVatLieu]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLVatLieu](
	[MaVatLieu] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[Loai] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NULL,
	[DonGiaBan] [decimal](18, 2) NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[MaKho] [int] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[HinhAnh] [varbinary](max) NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[NguoiCapNhat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NCC] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NCC] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[QLDonNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[QLDonNhap] ADD  DEFAULT (N'Đang xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[QLHoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[QLHoaDon] ADD  DEFAULT (N'Chờ thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[QLHoaDon] ADD  DEFAULT (N'Tiền mặt') FOR [HinhThucThanhToan]
GO
ALTER TABLE [dbo].[QLLoaiVatLieu] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[QLTK] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[QLTK] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[QLVatLieu] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[QLVatLieu] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[QLVatLieu] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[QLVatLieu] ADD  CONSTRAINT [DF_QLVatLieu_NgayCapNhat]  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[QLTK] ([MaTK])
GO
ALTER TABLE [dbo].[ChiTietDonNhap]  WITH CHECK ADD FOREIGN KEY([MaDonNhap])
REFERENCES [dbo].[QLDonNhap] ([MaDonNhap])
GO
ALTER TABLE [dbo].[ChiTietDonNhap]  WITH CHECK ADD FOREIGN KEY([MaVatLieu])
REFERENCES [dbo].[QLVatLieu] ([MaVatLieu])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[QLHoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaVatLieu])
REFERENCES [dbo].[QLVatLieu] ([MaVatLieu])
GO
ALTER TABLE [dbo].[QLDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[QLDonNhap]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[QLTK] ([MaTK])
GO
ALTER TABLE [dbo].[QLDonNhap]  WITH CHECK ADD FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[QLTK] ([MaTK])
GO
ALTER TABLE [dbo].[QLHoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[QLKH] ([MaKhachHang])
GO
ALTER TABLE [dbo].[QLHoaDon]  WITH CHECK ADD FOREIGN KEY([MaTKLap])
REFERENCES [dbo].[QLTK] ([MaTK])
GO
ALTER TABLE [dbo].[QLHoaDon]  WITH CHECK ADD FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[QLTK] ([MaTK])
GO
ALTER TABLE [dbo].[QLVatLieu]  WITH CHECK ADD FOREIGN KEY([Loai])
REFERENCES [dbo].[QLLoaiVatLieu] ([MaLoaiVatLieu])
GO
ALTER TABLE [dbo].[QLVatLieu]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[QLVatLieu]  WITH CHECK ADD FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[QLTK] ([MaTK])
GO
ALTER TABLE [dbo].[QLVatLieu]  WITH CHECK ADD FOREIGN KEY([NguoiCapNhat])
REFERENCES [dbo].[QLTK] ([MaTK])
GO
ALTER TABLE [dbo].[ChiTietDonNhap]  WITH CHECK ADD CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonNhap]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[NCC]  WITH CHECK ADD CHECK  (([SDT] like '[0-9]%' AND (len([SDT])>=(10) AND len([SDT])<=(15))))
GO
ALTER TABLE [dbo].[NCC]  WITH CHECK ADD CHECK  (([TrangThai]=N'Bị khóa' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[QLDonNhap]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Hoàn thành' OR [TrangThai]=N'Đang xử lý'))
GO
ALTER TABLE [dbo].[QLHoaDon]  WITH CHECK ADD CHECK  (([HinhThucThanhToan]=N'Thẻ tín dụng' OR [HinhThucThanhToan]=N'Chuyển khoản' OR [HinhThucThanhToan]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[QLHoaDon]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[QLHoaDon]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Chờ thanh toán'))
GO
ALTER TABLE [dbo].[QLKH]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[QLKH]  WITH CHECK ADD CHECK  (([SDT] like '[0-9]%' AND (len([SDT])>=(10) AND len([SDT])<=(15))))
GO
ALTER TABLE [dbo].[QLLoaiVatLieu]  WITH CHECK ADD CHECK  (([TrangThai]=N'Ngừng sử dụng' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[QLTK]  WITH CHECK ADD CHECK  (([SDT] like '[0-9]%' AND (len([SDT])>=(10) AND len([SDT])<=(15))))
GO
ALTER TABLE [dbo].[QLTK]  WITH CHECK ADD CHECK  (([TrangThai]=N'Bị khóa' OR [TrangThai]=N'Hoạt động'))
GO
ALTER TABLE [dbo].[QLVatLieu]  WITH CHECK ADD CHECK  (([DonGiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[QLVatLieu]  WITH CHECK ADD CHECK  (([DonGiaBan]>=(0)))
GO
ALTER TABLE [dbo].[QLVatLieu]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[QLVatLieu]  WITH CHECK ADD CHECK  (([TrangThai]=N'Ngừng sử dụng' OR [TrangThai]=N'Hoạt động'))
GO
/****** Object:  StoredProcedure [dbo].[sp_DemSoNhaCungCap]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Đếm số nhà cung cấp
CREATE PROCEDURE [dbo].[sp_DemSoNhaCungCap]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS SoNhaCungCap
    FROM NCC
    WHERE TrangThai = N'Hoạt động';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LayDanhSachHoaDon]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LayDanhSachHoaDon]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        hd.MaHoaDon, 
        hd.NgayLap, 
        tk.TenDangNhap AS N'Người Lập', 
        kh.Ten AS N'Khách Hàng', 
        hd.TongTien, 
        hd.TrangThai, 
        hd.HinhThucThanhToan
    FROM QLHoaDon hd
    JOIN QLTK tk ON hd.MaTKLap = tk.MaTK
    LEFT JOIN QLKH kh ON hd.MaKhachHang = kh.MaKhachHang;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHoaDon]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaoHoaDon]
    @MaTKLap INT,
    @MaKhachHang INT = NULL, -- Cho phép khách vãng lai
    @HinhThucThanhToan NVARCHAR(50),
    @MaHoaDon INT OUTPUT
AS
BEGIN
    INSERT INTO QLHoaDon (NgayLap, MaTKLap, MaKhachHang, TongTien, TrangThai, HinhThucThanhToan)
    VALUES (GETDATE(), @MaTKLap, @MaKhachHang, 0, N'Chờ thanh toán', @HinhThucThanhToan);

    SET @MaHoaDon = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemChiTietHoaDon]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemChiTietHoaDon]
    @MaHoaDon INT,
    @MaVatLieu INT,
    @SoLuong INT
AS
BEGIN
    DECLARE @DonGia DECIMAL(18,2);
    DECLARE @ThanhTien DECIMAL(18,2);

    SELECT @DonGia = DonGiaBan FROM QLVatLieu WHERE MaVatLieu = @MaVatLieu;

    SET @ThanhTien = dbo.fn_LamTronTien(@SoLuong * @DonGia, 0);

    INSERT INTO ChiTietHoaDon (MaHoaDon, MaVatLieu, SoLuong, DonGia)
    VALUES (@MaHoaDon, @MaVatLieu, @SoLuong, @DonGia);

    UPDATE QLHoaDon
    SET TongTien = dbo.fn_LamTronTien(TongTien + @ThanhTien, 0)
    WHERE MaHoaDon = @MaHoaDon;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemVatLieu]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemVatLieu]
    @Ten NVARCHAR(100),
    @Loai INT,
    @DonGiaNhap DECIMAL(18,2),
    @DonGiaBan DECIMAL(18,2),
    @DonViTinh NVARCHAR(50),
    @MaKho INT
AS
BEGIN
    INSERT INTO QLVatLieu (Ten, Loai, DonGiaNhap, DonGiaBan, DonViTinh, SoLuong, MaKho, TrangThai)
    VALUES (@Ten, @Loai, @DonGiaNhap, @DonGiaBan, @DonViTinh, 0, @MaKho, N'Hoạt động');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDoanhThu]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeDoanhThu]
    @TuNgay DATE = NULL,
    @DenNgay DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        hd.MaHoaDon,
        hd.NgayLap,
        tk.TenDangNhap AS NguoiLap,
        ISNULL(kh.Ten, N'Khách vãng lai') AS KhachHang,
        hd.TongTien,
        hd.TrangThai,
        hd.HinhThucThanhToan
    FROM QLHoaDon hd
    JOIN QLTK tk ON hd.MaTKLap = tk.MaTK
    LEFT JOIN QLKH kh ON hd.MaKhachHang = kh.MaKhachHang
    WHERE (@TuNgay IS NULL OR hd.NgayLap >= @TuNgay)
    AND (@DenNgay IS NULL OR hd.NgayLap <= @DenNgay)
    ORDER BY hd.NgayLap DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeTopProducts]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeTopProducts]
    @TuNgay DATE = NULL,
    @DenNgay DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        vl.Ten AS TenVatLieu,
        SUM(cthd.SoLuong) AS SoLuongBan
    FROM ChiTietHoaDon cthd
    JOIN QLHoaDon hd ON cthd.MaHoaDon = hd.MaHoaDon
    JOIN QLVatLieu vl ON cthd.MaVatLieu = vl.MaVatLieu
    WHERE (@TuNgay IS NULL OR hd.NgayLap >= @TuNgay)
    AND (@DenNgay IS NULL OR hd.NgayLap <= @DenNgay)
    AND hd.TrangThai = N'Đã thanh toán'
    GROUP BY vl.Ten
    ORDER BY SoLuongBan DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeUnderstock]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Thống kê vật liệu tồn kho thấp (dưới 10 đơn vị chẳng hạn)
CREATE PROCEDURE [dbo].[sp_ThongKeUnderstock]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Ten AS TenVatLieu,
        SoLuong AS SoLuongTon
    FROM QLVatLieu
    WHERE SoLuong < 10 AND TrangThai = N'Hoạt động'
    ORDER BY SoLuong ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemHoaDon]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimKiemHoaDon]
    @MaHoaDon INT = NULL,
    @TuNgay DATE = NULL,
    @DenNgay DATE = NULL,
    @MaKhachHang INT = NULL,
    @TenKhachHang NVARCHAR(100) = NULL,
    @MaTK INT = NULL,
    @TrangThai NVARCHAR(50) = NULL,
    @HinhThucThanhToan NVARCHAR(50) = NULL,
    @TongTienMin DECIMAL(18,2) = NULL,
    @TongTienMax DECIMAL(18,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        hd.MaHoaDon, 
        hd.NgayLap, 
        tk.TenDangNhap AS NguoiLap, 
        tk.MaTK,
        kh.Ten AS TenKhachHang, 
        kh.MaKhachHang,
        kh.SDT AS SDTKhachHang,
        hd.TongTien, 
        hd.TrangThai, 
        hd.HinhThucThanhToan,
        COUNT(cthd.MaCTHD) AS SoMatHang,
        SUM(cthd.SoLuong) AS TongSoLuong
    FROM QLHoaDon hd
    JOIN QLTK tk ON hd.MaTKLap = tk.MaTK
    LEFT JOIN QLKH kh ON hd.MaKhachHang = kh.MaKhachHang
    LEFT JOIN ChiTietHoaDon cthd ON hd.MaHoaDon = cthd.MaHoaDon
    WHERE
        (hd.MaHoaDon = @MaHoaDon OR @MaHoaDon IS NULL)
        AND (hd.NgayLap BETWEEN COALESCE(@TuNgay, '1900-01-01') AND COALESCE(@DenNgay, GETDATE()))
        AND (hd.MaKhachHang = @MaKhachHang OR @MaKhachHang IS NULL)
        AND (kh.Ten LIKE N'%' + @TenKhachHang + N'%' OR @TenKhachHang IS NULL)
        AND (hd.MaTKLap = @MaTK OR @MaTK IS NULL)
        AND (hd.TrangThai = @TrangThai OR @TrangThai IS NULL)
        AND (hd.HinhThucThanhToan = @HinhThucThanhToan OR @HinhThucThanhToan IS NULL)
        AND (hd.TongTien BETWEEN COALESCE(@TongTienMin, 0) AND COALESCE(@TongTienMax, 999999999))
    GROUP BY 
        hd.MaHoaDon, 
        hd.NgayLap, 
        tk.TenDangNhap,
        tk.MaTK, 
        kh.Ten,
        kh.MaKhachHang, 
        kh.SDT,
        hd.TongTien, 
        hd.TrangThai, 
        hd.HinhThucThanhToan
    ORDER BY 
        hd.NgayLap DESC, 
        hd.MaHoaDon DESC
    OPTION (RECOMPILE);  -- Giúp tối ưu hóa khi chạy thủ tục với tham số khác nhau
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemKH]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_TimKiemKH]
    @Keyword NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Search NVARCHAR(100) = '%' + @Keyword + '%';
    SELECT 
        kh.MaKhachHang,
        kh.Ten,
        kh.GioiTinh, 
        kh.NgaySinh, 
        kh.SDT, 
        kh.Email,
        CASE 
            WHEN kh.Ten LIKE @Keyword + '%' THEN 3  -- Tên khớp đầu tiên
            WHEN kh.Ten LIKE '%' + @Keyword + '%' THEN 2 -- Tên chứa từ khóa
            WHEN RIGHT(kh.SDT, 3) = @Keyword THEN 2  -- Khớp với 3 số cuối SĐT
            ELSE 1
        END AS MatchScore
    FROM QLKH kh  
    WHERE 
        kh.Ten COLLATE Latin1_General_CI_AI LIKE @Search
        OR kh.Email COLLATE Latin1_General_CI_AI LIKE @Search
		OR LEFT(kh.Email, CHARINDEX('@', kh.Email) - 1) LIKE @Search
        OR RIGHT(kh.SDT, 3) = @Keyword
        OR CAST(kh.MaKhachHang AS NVARCHAR) LIKE @Search
    ORDER BY MatchScore DESC, kh.Ten;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemLoaiVatLieu]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimKiemLoaiVatLieu]
    @Keyword NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        MaLoaiVatLieu, 
        TenLoai, 
        TrangThai,
        -- Tính độ khớp để sắp xếp
        CASE 
            WHEN TenLoai LIKE @Keyword + '%' THEN 3 -- Khớp đầu tiên
            WHEN TenLoai LIKE '%' + @Keyword + '%' THEN 2 -- Khớp giữa
            ELSE 1
        END AS MatchScore
    FROM QLLoaiVatLieu
    WHERE 
        TenLoai COLLATE Latin1_General_CI_AI LIKE '%' + @Keyword + '%'
        OR CAST(MaLoaiVatLieu AS NVARCHAR) LIKE @Keyword + '%'
    ORDER BY MatchScore DESC, TenLoai;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemNCC]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure tìm kiếm NCC (Nhà cung cấp)
CREATE PROCEDURE [dbo].[sp_TimKiemNCC]
    @MaNCC INT = NULL,
    @TenNCC NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        MaNCC,
        TenNCC,
        DiaChi,
        SDT,
        Email,
        NguoiTao,
        NgayTao
    FROM NCC
    WHERE (@MaNCC IS NULL OR MaNCC = @MaNCC)
    AND (@TenNCC IS NULL OR TenNCC LIKE '%' + @TenNCC + '%')
    ORDER BY MaNCC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemQLDonNhap]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure tìm kiếm QLDonNhap (Quản lý đơn nhập)
CREATE PROCEDURE [dbo].[sp_TimKiemQLDonNhap]
    @MaDonNhap INT = NULL,
    @TenNCC NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        dn.MaDonNhap,
        dn.NgayNhap,
        ncc.TenNCC,
        tk.TenDangNhap AS NguoiLap,
        dn.TrangThai,
        dn.GhiChu
    FROM QLDonNhap dn
    JOIN NCC ncc ON dn.MaNCC = ncc.MaNCC
    JOIN QLTK tk ON dn.MaTK = tk.MaTK
    WHERE (@MaDonNhap IS NULL OR dn.MaDonNhap = @MaDonNhap)
    AND (@TenNCC IS NULL OR ncc.TenNCC LIKE '%' + @TenNCC + '%')
    ORDER BY dn.MaDonNhap DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemQLTK]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure tìm kiếm QLTK (Quản lý tài khoản)
CREATE PROCEDURE [dbo].[sp_TimKiemQLTK]
    @MaTK INT = NULL,
    @TenDangNhap NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        MaTK,
        TenDangNhap,
        Email,
        ChucVu,
        TrangThai
    FROM QLTK
    WHERE (@MaTK IS NULL OR MaTK = @MaTK)
    AND (@TenDangNhap IS NULL OR TenDangNhap LIKE '%' + @TenDangNhap + '%')
    ORDER BY MaTK;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemVatLieu]    Script Date: 3/25/2025 2:15:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimKiemVatLieu]
    @Keyword NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Chuẩn hóa keyword để tìm kiếm không dấu và không phân biệt hoa thường
    DECLARE @Search NVARCHAR(100) = '%' + @Keyword + '%';

    SELECT 
        vl.MaVatLieu, 
        vl.Ten, 
        lv.TenLoai, 
        vl.DonGiaBan, 
        vl.DonGiaNhap, 
        vl.DonViTinh, 
        vl.SoLuong,
        -- Xếp hạng mức độ khớp để ưu tiên hiển thị
        CASE 
            WHEN vl.Ten LIKE @Keyword + '%' THEN 3  -- Khớp đầu tiên
            WHEN vl.Ten LIKE '%' + @Keyword + '%' THEN 2 -- Khớp giữa
            ELSE 1
        END AS MatchScore
    FROM QLVatLieu vl  
    JOIN QLLoaiVatLieu lv ON vl.Loai = lv.MaLoaiVatLieu
    WHERE 
        vl.Ten COLLATE Latin1_General_CI_AI LIKE @Search
        OR lv.TenLoai COLLATE Latin1_General_CI_AI LIKE @Search
        OR CAST(vl.MaVatLieu AS NVARCHAR) LIKE @Search
    ORDER BY MatchScore DESC, vl.Ten;
END;
GO
USE [master]
GO
